
<mainslider></mainslider>

<div class="offer" ng-controller="MiniSlider">
    <div class="offer_ind offer_one">
        <div class="offer_ind_left">
            <div class="offer_ind_left_box">
                <p>
                    <img src="../static/images/neck_ind.png"/>
                </p>
                <div class="offer_ind_left_box_text">
                    <h4>Biżuteria na zamówienie</h4>
                    <p>Nasza pracownia wykonuję biżuterie na specjalne, indywidualne zamówienia klientów. Poza szeroką
                        gamą wzorów, które posiadamy, tworzymy takżę biżuterię na specjalnie zamówienie.
                        Przyjdź do nas z własnym gotowym wzorem lub pomysłem a my na podstawie tego stworzymy
                        Twój wymarzony produkt!
                    </p>
                    <button>więcej ...</button>
                </div>
            </div>

        </div>
        <div class="offer_ind_right" ng-if="mini_slides_ind">
            <slider ng-model="mini_slides_ind"></slider>
        </div>
    </div>
    <div class="offer_ind offer_two">
        <div class="offer_ind_right" ng-if="mini_slides_engraving">
            <slider ng-model="mini_slides_engraving"></slider>
        </div>
        <div class="offer_ind_left">
            <div class="offer_ind_left_box">
                <p>
                    <img ng-src="../static/images/neck_engr.png"/></p>

                <div class="offer_ind_left_box_text">
                    <h4>Obróbka i grawerowanie</h4>
                    <p>Oferujemy grawerowanie od napisów tradycyjną ręczną metodą aż po leserowo nanoszone zdjęcia na
                        metal. Oprócz szeroko rozumianego grawerunku metali wykonujemy tabliczki z dedykacjami
                        zamieszczone na figurach lub drewnianych obrazach. Doświadczenie w grawerowaniu złotych,
                        srebrnych czy stalowych zegarków pozwala nam przerabiać materiały nie niszcząc i nie zacierając
                        firmowych napisów.</p>
                    <button>więcej ...</button>
                </div>
            </div>
        </div>
    </div>
    <div class="offer_ind offer_three">
        <div class="offer_ind_left">
            <div class="offer_ind_left_box">

                <p>
                    <img ng-src="../static/images/neck_repair.png"/></p>

                <div class="offer_ind_left_box_text">
                    <h4>Naprawa i rekonstrukcja</h4>
                    <p>Posiadasz zniszczony pierścionek, łańcuszek lub starą, antyczną biżuterię? Przynieś ją do nas!
                        Zajmujemy się naprawą wszelakiej biżuterii złotej i srebrnej. Od naprawy mechanicznie
                        uszkodzonych rzeczy aż po renowację i rekonstrukcję.</p>
                    <button>więcej ...</button>
                </div>
            </div>
        </div>
        <div class="offer_ind_right" ng-if="mini_slides_repair">
            <slider ng-model="mini_slides_repair"></slider>
        </div>
    </div>

</div>

<div class="other_products_display float_left_wrapper" ng-controller="miniproducstController">
    <ul>
        <li ng-repeat="product in products">
            <img ng-src="{{ product.image }}"/>
        </li>

    </ul>
    <div class="products_button">

        <button><a ui-sref="products">wszystkie produkty ...</a></button>

    </div>

</div>


