<div ng-include="'navbar.html'"></div>

<div id="main_slider" ng-controller="mainSliderController">
    <div id="slide">
        <img src="../static/images/slider1.jpg"/>
        <div id="slider_logo_text">
            <div id="slider_logo">
                <p>
                    <img src="../static/images/slider_logo.png"/>
                </p>
            </div>
            <div id="slider_text">
                <p> {{ text }}</p>
            </div>
        </div>
        <div id="slider_baner">
            <p>{{ baner }}</p>
        </div>
    </div>

</div>

<div class="offer">
    <div class="offer_ind offer_one">
        <div class="offer_ind_left">
            <div class="offer_ind_left_box">
                <div class="offer_ind_left_box_img">
                    <p>
                        <img src="../static/images/neck_mini.png"/></p>
                </div>
                <div class="offer_ind_left_box_text">
                    <h4>Biżuteria na zamówienie</h4>
                    <p>Nasza pracownia wykonuję biżuterie na specjalne, indywidualne zamówienia klientów. Poza szeroką
                        gamą wzorów, które posiadamy, tworzymy takżę biżuterię na specjalnie zamówienie.
                        Przyjdź do nas z własnym gotowym wzorem lub pomysłem a my na podstawie tego stworzymy
                        Twój wymarzony produkt!
                    </p>
                    <button>więcej ...</button>
                </div>
            </div>

        </div>
        <div class="offer_ind_right">
            <div class="slider" ng-controller="MiniSliderIndividual" ng-init="myNumber = 0">
                <div class="slide">
                    <div class="center">
                        <img class="swap-animation" ng-animate-swap="temp" ng-src="{{ slajd }}"/>
                        <button class="slider-right" ng-click="nextSlide(0)"></button>
                        <button class="slider-left" ng-click="previousSlide(0)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offer_ind offer_two">
        <div class="offer_ind_right">
            <div class="slider" ng-controller="MiniSliderIndividual" ng-init="myNumber = 1">
                <div class="slide">
                    <div class="center">
                        <img class="swap-animation" ng-animate-swap="temp" ng-src="{{ slajd }}"/>
                        <button class="slider-right" ng-click="nextSlide(1)"></button>
                        <button class="slider-left" ng-click="previousSlide(1)"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer_ind_left">
            <div class="offer_ind_left_box">
                <div class="offer_ind_left_box_img">
                    <p>
                        <img src="../static/images/neck_mini.png"/></p>
                </div>
                <div class="offer_ind_left_box_text">
                    <h4>Obróbka i grawerowanie</h4>
                    <p>Oferujemy grawerowanie od napisów tradycyjną ręczną metodą aż po leserowo nanoszone zdjęcia na
                        metal. Oprócz szeroko rozumianego grawerunku metali wykonujemy tabliczki z dedykacjami
                        zamieszczone na figurach lub drewnianych obrazach. Doświadczenie w grawerowaniu złotych,
                        srebrnych czy stalowych zegarków pozwala nam przerabiać materiały nie niszcząc i nie zacierając
                        firmowych napisów.</p>
                    <button>więcej ...</button>
                </div>
            </div>
        </div>
    </div>
    <div class="offer_ind offer_three">
        <div class="offer_ind_left">
            <div class="offer_ind_left_box">
                <div class="offer_ind_left_box_img">
                    <p>
                        <img src="../static/images/neck_mini.png"/></p>
                </div>
                <div class="offer_ind_left_box_text">
                    <h4>Naprawa i rekonstrukcja</h4>
                    <p>Posiadasz zniszczony pierścionek, łańcuszek lub starą, antyczną biżuterię? Przynieś ją do nas!
                        Zajmujemy się naprawą wszelakiej biżuterii złotej i srebrnej. Od naprawy mechanicznie
                        uszkodzonych rzeczy aż po renowację i rekonstrukcję.</p>
                    <button>więcej ...</button>
                </div>
            </div>
        </div>
        <div class="offer_ind_right">
            <div class="slider" ng-controller="MiniSliderIndividual" ng-init="myNumber = 2">
                <div class="slide">
                    <div class="center">
                        <img class="swap-animation" ng-animate-swap="temp" ng-src="{{ slajd }}"/>
                        <button class="slider-right" ng-click="nextSlide(2)"></button>
                        <button class="slider-left" ng-click="previousSlide(2)"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="products" ng-controller="miniproducstController">
    <ul>
        <li ng-repeat="product in products">
            <img ng-src="{{ product.image }}"/>
        </li>

    </ul>
    <div class="products_button">

            <button>wszystkie produkty ...</button>

    </div>

</div>

<div id="contact">
    <div id="contact_info">
        <p>Pracownia Jubilerska</p>
        <p>Damian Słojewski Ds Group</p>
        <p style="height: 10px;"></p>
        <p>ul.Antalla 5 03-126 Warszawa </p>
        <p>tel.517-252-047</p>
        <p style="height: 10px"></p>
        <p>e-mail: jubiler@slojewski.pl</p>
        <p>Godziny Otwarcia </p>
        <p>Pon. - Pt. 11-19 Sob. 11-14</p>
    </div>
    <div id="contact_form">

        <form>
            <input type="text" name="name" size="40" maxlength="255" required="" id="id_name"
                   placeholder="Imie i nazwisko">

            <input type="text" name="email" size="40" required="" id="id_email" placeholder="Email">

            <input type="number" name="phone" required="" id="id_phone" placeholder="Telefon">

            <textarea name="msg_content" cols="40" rows="10" required="" id="id_msg_content"
                      placeholder="treść wiadomośći..."></textarea>
            <input type="submit" class="submit_button" value="wyślij">

        </form>
    </div>

</div>
