<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jubiler Słojewski</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css"/>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200&subset=latin-ext" rel="stylesheet">

    <script src="../static/bower_components/angular/angular.js"></script>
    <script src="../static/bower_components/angular-animate/angular-animate.js"></script>
    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
    <script src="../static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../static/bower_components/angular-sanitize/angular-sanitize.js"></script>
</head>


<body ng-app="app">

<div id="container">

    <ui-view></ui-view>

    <div id="contact">
        <div id="contact_info">
            <p>Pracownia Jubilerska</p>
            <p>Damian Słojewski Ds Group</p>
            <p style="height: 10px;"></p>
            <p>ul.Antalla 5 03-126 Warszawa </p>
            <p>tel.517-252-047</p>
            <p style="height: 10px"></p>
            <p>e-mail: jubiler@slojewski.pl</p>
            <p>Godziny Otwarcia </p>
            <p>Pon. - Pt. 11-19 Sob. 11-14</p>
        </div>
        <div id="contact_form">

            <form>
                <input type="text" name="name" size="40" maxlength="255" required="" id="id_name"
                       placeholder="Imie i nazwisko">

                <input type="text" name="email" size="40" required="" id="id_email" placeholder="Email">

                <input type="number" name="phone" required="" id="id_phone" placeholder="Telefon">

                <textarea name="msg_content" cols="40" rows="10" required="" id="id_msg_content"
                          placeholder="treść wiadomośći..."></textarea>
                <input type="submit" class="submit_button" value="wyślij">

            </form>
        </div>

    </div>
    <div id="footer">
        <div id="footer_fb_iframe">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fjubilerslojewski%2F&tabs&width=340&height=70&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                    width="340" height="70" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true"></iframe>
        </div>
        <p>www.slojewski.pl</p>
        <div id="footer_line"></div>
    </div>
</div>

<script src="../static/scripts/main.js"></script>

</body>
</html>


