{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jubiler Słojewski</title>
<link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}"/>
</head>
<body>

<div id="container">
    <nav id="main_navbar">
        <ul>
            <li><a>Strona Główna</a></li>
            <li><a>O firmie</a></li>
            <li><a>Produkty</a></li>
            <li><a>Usługi</a></li>
            <li><a>Galeria</a></li>
            <li><a>Kontakt</a></li>
        </ul>
    </nav>
    <div id="main_slider">

        <div id="slide">
        <img src="{% static 'images/slider1.jpg' %}" />
            <div id="slider_logo_text">
                <div id="slider_logo">
                    <img src="{% static 'images/slider_logo.png' %}" />
                </div>
                <div id="slider_text">
                    <p> fdsafdas fdasf dasfdsa fdsafdasfda sfdasfdsa fdsafdasfd asfdasfdsa</p>
                </div>
            </div>
            <div id="slider_baner">
                <p>Jubiler - profesjonalna obróbka biżuterii w Warszawie</p>
            </div>
        </div>

    </div>
    <div id="offer">

    </div>
    <div id="products">

    </div>
    <div id="contact">

    </div>
    <div id="footer">

    </div>
</div>

</body>
</html>


