<div id="main_slider">

        <div class="slide_content">
            <img class="logo" src="../static/images/slider1.jpg"/>
            <div id="slider_logo_text">
                <div id="slider_logo">
                    <p>
                        <img ng-src="../static/images/slider_logo.png"/>
                    </p>
                </div>
                <div id="slider_text">
                    <p> {{ text }}</p>
                </div>
            </div>
            <div class="child" id="myHeader">
                <div ng-include="'navbar.html'"></div>
            </div>
        </div>

</div>
