{% verbatim %}
<div id="main_slider">

    <div class="slide_content">
        <img class="logo" src="../static/images/slider2.jpg"/>

        <div id="main_slider_contact">
            <p>Pracownia Jubilerska</p>
            <p>Damian Słojewski Ds Group</p>
            <hr/>
            <p>ul.Antalla 5 03-126 Warszawa </p>
            <p>tel.22 599 40 82</p>
            <p style="height: 10px"></p>
            <p>e-mail: jubiler@slojewski.pl</p>
            <p>Godziny Otwarcia </p>
            <p>Pon. - Pt. 12-21 Sob. 12-15</p>
        </div>
        <div class="child" id="myHeader">
            <div ng-include="'navbar.html'"></div>
        </div>
    </div>

</div>
{% endverbatim %}