{% verbatim %}

    <div class="mini_products_slider">
        <ul class="swap-animation" ng-animate-swap="currentPosition">
            <li ng-repeat="product in visibleProducts" ui-sref="products.mini_product_details({ productId : product.id })">
                <img src="{{ product.image }}" class="swap-animation mini_products_hover" ng-animate-swap="currentPosition"/>
            </li>
        </ul>

        <button class="slider-button slider-left" ng-style="{'opacity': (currentPosition > 0) ? '1.0' : '0.35'}" ng-click="previousSlide()"></button>
        <button class="slider-button slider-right" ng-style="{'opacity': (currentPosition < products.length - CHUNK_SIZE) ? '1.0' : '0.35'}" ng-click="nextSlide()"></button>
    </div>

{% endverbatim %}
