{% verbatim %}
<nav id="main_navbar">

    <ul>
        <li>
            <span ui-sref-active="activeState">
                <a ui-sref="home">Strona Główna</a>
            </span>
        </li>
        <li>
            <span ui-sref-active="activeState">
                <a ui-sref="about">O firmie</a>
            </span>
        </li>
        <li>
            <span ui-sref-active="activeState">
                <a ui-sref="products">Produkty</a>
            </span>
        </li>
        <li><span ui-sref-active="activeState">
                <a ui-sref="services">Usługi</a>
            </span>
        </li>

        <li><a ui-sref="home({'#': 'contact'})">Kontakt</a></li>
    </ul>
</nav>


{% endverbatim %}