{% verbatim %}
<minislider></minislider>

<div>

    <div class="other_products_display" ng-controller="miniproducstController">
        <h4>Wybrane produkty: </h4>
        <ul>
            <li ng-repeat="product in products">
                <img src="{{ product.image }}"/>
            </li>
        </ul>
    </div>

    <div id="triangle" class="products_category" ng-controller="productsCategoryController">
        <ul>
            <li id="active_products" class="products_category_li">
                <p><a ui-sref="products">wszystkie produkty</a></p>
            </li>
            <li ui-sref-active="active_all_products" class="products_category_li" ng-repeat="category in categories"
                ng-if="category">
                <p>
                    <a ui-sref="products.products_category({ categoryId: $index })">{{ category.title }}</a>
                </p>
            </li>
        </ul>

    </div>
    <ui-view>
        <div class="products sub_products" ng-controller="productsController as prodsCtrl">
            <ul>
                <li ng-repeat="product in prodsCtrl.products">
                    <a ui-sref="products.product_details({ productId : product.id, '#': 'triangle' })" class="product_wrapper">
                        <p class="product_title">{{ product.title|limitTo: 30 }}</p>
                        <img class="product_image" src="{{ product.to_product.image.small[0] }}"/>
                        <p class="product_desc"><span>{{ product.desc|limitTo: 100 }} ..</span></p>
                    </a>

                </li>
            </ul>
            <button style="margin: 15px auto; display: block;" ng-if="prodsCtrl.products.length > 0" ng-click="prodsCtrl.loadMoreProducts(prodsCtrl.products.length - 1)">More ...</button>
        </div>
    </ui-view>

</div>

{% endverbatim %}
