{% verbatim %}

<div class="subsite_wrapper">

    <div class="single_product">
        <div class="single_product_container">

            <p class="product_title">{{ product.title }}</p>

            <img class="product_image" src="{{ image_in_product }}"/>
            <div class="other_products_display">
                <ul>
                    <li ng-repeat="single_image in product.to_product">
                       <img ng-click="clickMe($index)" src="{{ single_image }}"/>

                    </li>
                </ul>
            </div>
            <p class="product_desc"><span>{{ product.desc }}</span></p>

        </div>

    </div>
</div>

{% endverbatim %}