{% verbatim %}

<div class="subsite_wrapper">

    <div class="single_product">
        <div class="single_product_container">
            <p class="product_title">{{ product.title }}</p>
            <img id="image_animation" class="product_image" src="{{ image_in_product }}"/>
            <div class="other_products_display">
                <ul ng-if="small_image.length > 1">
                    <li class="hand-pointer" ng-repeat="img in small_image">
                        <img ng-click="clickMe($index)" src="{{ img }}"/>

                    </li>
                </ul>
            </div>
            <p class="product_desc"><span>{{ product.desc }}</span></p>

        </div>

    </div>
</div>

{% endverbatim %}



