{% verbatim %}
<minislider></minislider>
<div id="goToTop"></div>
<div class="subsite_wrapper">
    <div class="services_single_container" ng-repeat="element in services">
                  <h4>{{ element.title }}</h4>
            <div ng-bind-html="MakeTrustedDjangoCKEDITORContent($index)"></div>
            <div class="other_products_display">
                <ul>

                    <li ng-repeat="image in element.images">
                        <img src="{{ image }}" ng-click="openModalImage(image)"/>
                    </li>
                </ul>
            </div>
    </div>
</div>
<button ng-click="sendMail()">click</button>
{% endverbatim %}
