<minislider></minislider>




        <div class="subsite_wrapper">
            <div class="services_single_container" ng-repeat="element in services">
                <h4>{{ element.title }}</h4>
                <p>{{ element.content }}
                <div class="products other_products_display" ng-controller="MiniSlider">
                    <ul>

                        <li ng-repeat="image in element.images">
                            <img src="{{ image }}"/>
                            <p>{{ image }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
