{% verbatim %}
<div class="slider">
    <div class="slide">
        <div class="center">
            <img class="swap-animation" ng-animate-swap="currentPosition" ng-src="{{ image.image_thumbnail }}" ng-click="openModalImage(image.image)"/>
        </div>
    </div>
    <div class="buttons">
        <p>
            <button class="slider-left" ng-click="previousSlide()"></button>
            <button class="slider-right" ng-click="nextSlide()"></button>
        </p>
    </div>

</div>

{% endverbatim %}
