body, p, a, input, textarea, button {
  font-family: "Work Sans", sans-serif; }

*:focus {
  outline: 0 !important; }

#container {
  width: 1100px;
  height: auto;
  margin: 10px auto; }

#main_navbar {
  margin: 0 auto;
  background: white;
  width: 55%;
  font-weight: 700;
  font-size: 14px;
  color: #535353; }
  #main_navbar ul {
    list-style-type: none; }
    #main_navbar ul li {
      float: left;
      margin-left: 10px;
      padding: 10px; }

#main_slider {
  width: 100%;
  height: 635px;
  float: left;
  background: moccasin; }
  #main_slider #slide {
    position: relative; }
    #main_slider #slide img {
      width: 100%; }
    #main_slider #slide #slider_logo_text {
      width: 30%;
      position: absolute;
      top: 30px;
      left: 30px; }
      #main_slider #slide #slider_logo_text #slider_text {
        margin-top: 11px;
        text-align: center;
        padding: 6px;
        background: rgba(0, 0, 0, 0.1); }
    #main_slider #slide #slider_baner {
      width: 100%;
      height: 50px;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 85%;
      text-align: center;
      font-size: 16px;
      color: white;
      font-weight: bold; }

.offer {
  width: 100%;
  height: auto;
  float: left; }
  .offer .offer_ind {
    width: 100%;
    float: left;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,f4e0d9+0,ffffff+99,ffffff+100,ffffff+100,ffffff+101 */
    background: #1e5799;
    background: -moz-linear-gradient(left, #1e5799 0%, #f4e0d9 0%, white 99%, white 100%, white 100%, white 101%);
    background: -webkit-linear-gradient(left, #1e5799 0%, #f4e0d9 0%, white 99%, white 100%, white 100%, white 101%);
    background: linear-gradient(to right, #1e5799 0%, #f4e0d9 0%, white 99%, white 100%, white 100%, white 101%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=1 ); }
    .offer .offer_ind .offer_ind_left {
      float: left;
      width: 50%;
      height: 100%; }
      .offer .offer_ind .offer_ind_left .offer_ind_left_box {
        width: 70%;
        height: 90%;
        background: white;
        float: left;
        margin: 10px 10px 10px 10px; }
        .offer .offer_ind .offer_ind_left .offer_ind_left_box button {
          background: #7c8ea4;
          border: none;
          color: white;
          padding: 8px 30px 8px 30px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px;
          font-weight: bold;
          font-size: 12px;
          letter-spacing: 0.5px; }
        .offer .offer_ind .offer_ind_left .offer_ind_left_box .offer_ind_left_box_img {
          width: 100%;
          height: 40%;
          float: left; }
          .offer .offer_ind .offer_ind_left .offer_ind_left_box .offer_ind_left_box_img p {
            text-align: center; }
          .offer .offer_ind .offer_ind_left .offer_ind_left_box .offer_ind_left_box_img img {
            height: 100%;
            width: 200px; }
        .offer .offer_ind .offer_ind_left .offer_ind_left_box .offer_ind_left_box_text {
          width: 100%;
          height: 60%;
          float: left;
          padding-bottom: 20px; }
          .offer .offer_ind .offer_ind_left .offer_ind_left_box .offer_ind_left_box_text p {
            padding: 0 25px 10px 25px;
            text-align: center;
            font-weight: bold;
            font-size: 13px; }
          .offer .offer_ind .offer_ind_left .offer_ind_left_box .offer_ind_left_box_text h4 {
            text-align: center;
            font-weight: bold;
            margin: 1px; }
    .offer .offer_ind .offer_ind_right {
      float: left;
      height: 360px;
      width: 50%; }
      .offer .offer_ind .offer_ind_right .slider {
        width: 80%;
        height: 80%;
        margin-top: 10%; }
        .offer .offer_ind .offer_ind_right .slider .slide {
          width: 100%;
          height: 100%;
          position: relative; }
          .offer .offer_ind .offer_ind_right .slider .slide .swap-animation {
            position: absolute;
            max-width: 300px;
            height: 100%;
            left: 0;
            right: 0;
            margin: 0 auto; }
            .offer .offer_ind .offer_ind_right .slider .slide .swap-animation.ng-enter, .offer .offer_ind .offer_ind_right .slider .slide .swap-animation.ng-leave {
              transition: 0.3s linear all; }
            .offer .offer_ind .offer_ind_right .slider .slide .swap-animation.ng-enter {
              opacity: 0; }
            .offer .offer_ind .offer_ind_right .slider .slide .swap-animation.ng-enter-active {
              opacity: 1; }
            .offer .offer_ind .offer_ind_right .slider .slide .swap-animation.ng-leave {
              opacity: 1; }
            .offer .offer_ind .offer_ind_right .slider .slide .swap-animation.ng-leave-active {
              opacity: 0; }
        .offer .offer_ind .offer_ind_right .slider .slider-left, .offer .offer_ind .offer_ind_right .slider .slider-right {
          position: absolute;
          height: 35px;
          width: 35px;
          border: none; }
        .offer .offer_ind .offer_ind_right .slider .slider-left {
          top: 50%;
          left: 0;
          background: url("../images/arrow-left.png") no-repeat;
          background-size: 90%; }
        .offer .offer_ind .offer_ind_right .slider .slider-right {
          top: 50%;
          left: 95%;
          background: url("../images/arrow-right.png") no-repeat;
          background-size: 90%; }

.products {
  width: 100%;
  height: 300px;
  float: left;
  background: #1e5799;
  background: -moz-linear-gradient(left, #1e5799 0%, #207cca 0%, #dde1e6 0%, white 100%, white 100%, #207cca 100%);
  background: -webkit-linear-gradient(left, #1e5799 0%, #207cca 0%, #dde1e6 0%, white 100%, white 100%, #207cca 100%);
  background: linear-gradient(to right, #1e5799 0%, #207cca 0%, #dde1e6 0%, white 100%, white 100%, #207cca 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 ); }
  .products h4 {
    text-align: center; }
  .products .products_button {
    width: 100%;
    display: flex; }
  .products button {
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 25px 10px 25px;
    border: 0.6px solid #d8c1ba;
    font-size: 12px;
    color: #4f4f4f; }
  .products ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .products ul li {
      display: flex;
      padding: 5px;
      width: 15%;
      height: 140px;
      border: 0.6px solid #d8c1ba;
      border-right: none;
      background: rgba(255, 255, 255, 0.7); }
      .products ul li img {
        height: 100%;
        margin: 0 auto; }
    .products ul li:nth-child(5) {
      border-right: 0.6px solid #d8c1ba; }

#contact {
  width: 100%;
  float: left;
  height: auto;
  padding: 35px 0 35px 0;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: space-evenly;
  background: white; }
  #contact #contact_info {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 25%;
    padding: 5px;
    height: auto;
    border: 0.6px solid #d8c1ba; }
  #contact #contact_form {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 20%;
    padding: 5px;
    height: auto; }
    #contact #contact_form input, #contact #contact_form textarea {
      padding: 3px 0 2px 2px;
      border: none;
      border-bottom: 0.6px solid #d8c1ba;
      width: 100%;
      margin-bottom: 12px; }
    #contact #contact_form input::placeholder, #contact #contact_form textarea::placeholder {
      color: black;
      font-size: 11px; }
    #contact #contact_form input::-ms-input-placeholder {
      color: black; }
    #contact #contact_form input:-ms-input-placeholder {
      color: black; }
    #contact #contact_form textarea {
      border: 0.6px solid #d8c1ba; }
    #contact #contact_form .submit_button {
      font-weight: bold;
      width: 60%;
      margin: auto;
      background: rgba(255, 255, 255, 0.8);
      padding: 10px 25px 10px 25px;
      border: 0.6px solid #d8c1ba;
      font-size: 12px;
      color: #4f4f4f; }

#footer {
  float: left;
  width: 100%;
  border-top: 0.6px solid #b5bec4;
  padding-top: 15px;
  margin-bottom: 50px; }
  #footer p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 13px 0 5px 0; }
  #footer #footer_fb_iframe {
    margin: 0 auto;
    width: 340px; }
  #footer #footer_line {
    width: 71px;
    height: 0.6px;
    margin: 2px auto;
    background: #b1b7bc; }

/************************************ /products *********************************** */
.all_products {
  height: 1000px; }
  .all_products ul {
    display: block; }
    .all_products ul li {
      float: left;
      padding: 10px;
      margin: 5px;
      border-right: 0.6px solid #d8c1ba; }
      .all_products ul li img {
        max-width: 90%; }

/*# sourceMappingURL=main.css.map */
